Goal of this notebook:

Tuning the n parameter for IGAR attribute selection algorithm:

Average number of attributes among the projects: 169.16

Minimum number of attributes among the projects: 84


## Tuning strategy

### Collect accuracy for each n

- Vary the n parameter from 1 to 84 (min attributes)
- For each n:
	- For each project:
		- Execute the IGAR using n
		- Execute the prediction (calculate accuracy and normalized improvement)


### Calculate the number of wins for each n:

- For each project:
	- Check which n achieved the best accuracy

IGAR reference: https://www.cs.waikato.ac.nz/~mhall/HallHolmesTKDE.pdf

In [1]:
import numpy as np
import pandas as pd
from IPython.core.display import display

pd.set_option('display.max_columns', None)
from sklearn.ensemble import RandomForestClassifier
from sklearn.feature_selection import RFECV
import warnings
import classifier_utils
warnings.filterwarnings("ignore", category=UserWarning)
import configs

In [2]:
non_features_columns = ["chunk_id", "line_start", "line_end", "line_separator", "kind_conflict", "url", "project"]
non_features_columns.extend(["project_user", "project_name", "path", "file_name", "sha", "leftsha", "rightsha", "basesha"])

In [3]:
selected_dataset = pd.read_csv("../../data/SELECTED_LABELLED_DATASET.csv")
projects = list(selected_dataset['project'].unique())

In [4]:
rf = RandomForestClassifier(random_state=99, n_jobs=5, n_estimators=100, max_features=0.3, min_samples_leaf=1)

In [5]:
min_n = 0 # min_n = 0 means no selection at all, used as a baseline
max_n = 84

In [ ]:
import importlib
importlib.reload(classifier_utils)
tuning_results = classifier_utils.IGAR_tuning(rf, projects, non_features_columns, min_n, max_n, True)

In [7]:
tuning_results

,project,n,accuracy,accuracy_selected,orig_attr
0,Ramblurr__Anki-Android,1,0.728355,0.554788,129
1,apache__directory-server,1,0.938631,0.908143,96
2,android__platform_frameworks_base,1,0.813874,0.748824,566
3,freenet__fred,1,0.678846,0.593122,134
4,alexo__wro4j,1,0.587674,0.373409,107
...,...,...,...,...,...
2120,jgralab__jgralab,0,0.867922,0.867922,98
2121,sebastianbenz__Jnario,0,0.999021,0.999021,84
2122,CCI-MIT__XCoLab,0,0.973663,0.973663,99
2123,RealVNC__android-frameworks-base-with-screensh...,0,0.811660,0.811660,373
2124,allwinner-ics__platform_frameworks_base,0,0.813009,0.813009,305

In [8]:
import importlib
importlib.reload(classifier_utils)
summary = classifier_utils.compute_IGAR_tuning_summary(tuning_results, min_n, max_n)

In [9]:
summary

,n,average_default_accuracy,average_accuracy,improvement,average_ranking,number_wins
0,0,0.807345,0.807345,0.000000,13.32,3
1,1,0.807345,0.701809,-0.130719,75.00,1
2,2,0.807345,0.730314,-0.095412,74.94,0
3,3,0.807345,0.736112,-0.088231,75.08,0
4,4,0.807345,0.743390,-0.079216,74.38,0
...,...,...,...,...,...,...
80,80,0.807345,0.802029,-0.006585,27.58,0
81,81,0.807345,0.804984,-0.002925,17.88,2
82,82,0.807345,0.803093,-0.005267,23.04,1
83,83,0.807345,0.804021,-0.004117,19.86,0
84,84,0.807345,0.803588,-0.004653,23.26,1

In [10]:
summary.sort_values(['number_wins', 'average_accuracy', 'average_ranking'], ascending=False)

,n,average_default_accuracy,average_accuracy,improvement,average_ranking,number_wins
0,0,0.807345,0.807345,0.000000,13.32,3
81,81,0.807345,0.804984,-0.002925,17.88,2
65,65,0.807345,0.803345,-0.004954,24.20,2
75,75,0.807345,0.804131,-0.003981,19.36,1
69,69,0.807345,0.803846,-0.004333,20.74,1
...,...,...,...,...,...,...
6,6,0.807345,0.754070,-0.065988,72.42,0
5,5,0.807345,0.744786,-0.077487,73.10,0
4,4,0.807345,0.743390,-0.079216,74.38,0
3,3,0.807345,0.736112,-0.088231,75.08,0
2,2,0.807345,0.730314,-0.095412,74.94,0

In [11]:
summary.sort_values(['average_ranking', 'number_wins', 'average_accuracy'], ascending=True)

,n,average_default_accuracy,average_accuracy,improvement,average_ranking,number_wins
0,0,0.807345,0.807345,0.000000,13.32,3
81,81,0.807345,0.804984,-0.002925,17.88,2
75,75,0.807345,0.804131,-0.003981,19.36,1
83,83,0.807345,0.804021,-0.004117,19.86,0
69,69,0.807345,0.803846,-0.004333,20.74,1
...,...,...,...,...,...,...
7,7,0.807345,0.755548,-0.064157,73.36,0
4,4,0.807345,0.743390,-0.079216,74.38,0
2,2,0.807345,0.730314,-0.095412,74.94,0
1,1,0.807345,0.701809,-0.130719,75.00,1
3,3,0.807345,0.736112,-0.088231,75.08,0